.list-food-info{
    height: 100vh;

    overflow: scroll;
    .item.done{
        background-color: #f6f7fb;
    }
    .item{
        cursor: pointer;
        position: relative;
        border-bottom: 1px solid $gray;
        padding: 1vh;
        /*  */
        .pen-icon{
            position: absolute;
            color: red;
            font-size: 10px;
            background-color: #fff;
            padding: 2px 3px;
            border-radius: 100rem;
            left: 28px;
            display: none;
        }
        .pen-icon.active{
            display: block;
        }
        .amount{
            font-size: 16px;
            font-weight: 600;
            color: $text-gray;
        }
        .amount-number, .pxn{
            font-weight: 600;
        }
        .pxn{
            min-width: 90px;
            text-align: right;
        }
        
        .time{
            margin-top: 6px;
        }
        .name-wrap{
            gap: 15px;
            padding-left: 0 !important;
            justify-content: space-around;
            position: relative;
            span{
                position: absolute;
                left: 150px;
                color: $text-gray;
                font-weight: bold;
                font-size: 14px;
                letter-spacing: 3px;
            }
        }
        .food-feature{
            color: $text-gray;
            font-size: 14px ;
        }
        .food-status{
            margin-left: auto;
            p{
                color: $gray;
            }
            span{
                color: #ee9720;
                min-width: 80px;
                text-align: right;
            }
            .done{
                color: $text-gray;
            }
        }
        .clock{
            position: relative;
            img:last-child{
                position: absolute;
                top: 2px;
                left: 7px;
            }
        }
        .remove{
            color: red;
            font-weight: bold;
            display: none;
            i{
                margin-right: 6px;
                color: red;
            }
        }
        .remove.active{
            display: block;
        }
    }
}
.list-food-info::-webkit-scrollbar{
    display: none;
}

