.list{
    overflow: scroll;
    
    background-color: #fff;
    .item{
        cursor: pointer;
        padding: 25px 20px;
        position: relative;
        border-bottom: 1px solid $gray;
        background-color: #fff;
        padding-left: 35px;
        .pen-icon{
            position: absolute;
            color: red;
            font-size: 10px;
            background-color: #fff;
            padding: 2px 3px;
            border-radius: 100rem;
            left: 20px;
            display: none;
        }
        .pen-icon.active{
            display: block;
        }
        .price{
            color: $gray;
            font-weight: 600;
        }
        .amount{
            font-size: 16px;
            font-weight: 600;
            color: $text-gray;
        }
        .amount-number, .pxn{
            font-weight: 600;
        }
        .pxn{
            min-width: 90px;
            text-align: right;
        }
        .d-flex:last-child{
            margin-top: 15px;
        }
        .flag{
            position: absolute;
            top: 27px;
            left: 10px;
        }
        .remove{
            position: absolute;
            bottom: 10px;
            left: 20px;
            color: red;
            display: none;
            i{
                margin-right: 6px;
                color: red;
            }
        }
        .remove.active{
            display: block;
        }
    }
}
.list::-webkit-scrollbar{
    display: none;
}

.list.payment-list{
    .item{
        margin-top: 0;
        box-shadow: none;
        padding-left: 0;
    }
}
