.payment-header{
    .container{
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

    }

    .icon.add{
        background-color: #000;
        padding: 2px 4px;
        border-radius: 100rem;
        color: #fff;
        margin-right: 6px;
        font-size: 12px;
    }
    span{
        font-size: 14px;
    }
    .icon.close{
        font-size: 22px;
    }
    .payment-info{
        position: relative;
        background-color: #2d384e;
        .container{
            padding: 15px 0;
        }
        
        p{
            color: #fff;
            font-size: 18px;
            font-weight: 600;
        }
        span{
            font-size: 18px;
            color: $text-gray;
        }
        .icon{
            color: $text-gray;
        }
        
        &-menu{
            padding:0 15px;
            position: absolute;
            bottom: -160%;
            right: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            background-color: #fff;
            z-index: -1;
            transition: 0.2s ease-in-out;
            .menu-overlay{
                position: absolute;
                background-color: rgba(0, 0, 0, 0.297);
                left: 0;
                right: 0;
                bottom: 0;
                height: 1000px;
                transform: translateY(100%);
            }
            .item{
                padding: 15px 0;
                border-bottom: 1px solid $gray;
                span{
                    font-size: 16px;
                }
            }
            
        }
        &-menu.active{
            visibility: visible;
            opacity: 1;
            z-index: 99;
            bottom: -200%;
        }
        .note-icon, .add-icon, .separate-icon{
            position: relative;
            img{
                width: 16px;

            }
        }
        .note-icon{
           
        }
        .add-icon{
            div:first-child{
                height: 1px;
                width: 10px;
                background-color: $text-gray;
            }
            .d-flex{
                position: absolute;
            }
        }
    }
}